<div class="container">
  <h1>EIS UI Demo <small>Using Icicle Chart for Source Totals</small></h1>
  <p><select id="toggle"><option val="fund">View by Fund</option><option val="source">View by Source</option></select></p>
  <div class="row">
    <section class="col-sm-9">
      <!-- Icicle Chart -->
      <div id="icicle"></div>

      <div id="icicle-tables" class="hide">
        <hr/>
        <!-- Total Table -->
        <table id="table-1" class="table">
        </table>

        <!-- Items Table -->
        <div id="table-2-wrap">
          <hr/>
          <table id="table-2" class="table table-striped">
          </table>
        </div>

        <!-- IPM Table -->
        <div id="table-3-wrap">
          <hr/>
          <table id="table-3" class="table table-striped">
          </table>
        </div>
      </div>
    </section>

    <!-- Legend Column -->
    <aside class="col-sm-3">
      <ul id="icicle-legend" class="list-unstyled"></ul>
    </aside>
  </div>
</div>
