<div class="container">
  <h1>EIS UI Demo <small>Using Icicle Chart for Source Totals</small></h1>
  <p><select id="toggle"><option val="fund">View by Fund</option><option val="source">View by Source</option></select></p>
  <div class="row">
    <section class="col-sm-9">
      <!-- Icicle Chart -->
      <div id="icicle"></div>

      <div id="icicle-tables" class="hide">
        <!-- Total Table -->
        <table id="total-table" class="table">
          <caption><span class="swatch" style="background: #969696"></span> <span class="text"></span></caption>
          <thead><th>Total Value</th><th>Total Vested</th><th>% Vested</th><th>Shares</th></thead>
          <tbody>
            <tr></tr>
          </tbody>
        </table>
        <hr/>

        <!-- Items Table -->
        <table id="item-table" class="table table-striped">
          <thead><th>&#160;</th><th class="col-title">Sources</th><th>Value</th><th>Vested</th><th>% Vested</th><th>Shares</th></thead>
          <tbody></tbody>
        </table>

        <!-- IPM Table -->
        <table id="extra-table" class="table table-striped">
          <thead><th class="col-title">IPM Funds</th><th>Value</th><th>Vested</th><th>% Vested</th><th>Shares</th></thead>
          <tbody></tbody>
        </table>
      </div>
    </section>

    <!-- Legend Column -->
    <aside class="col-sm-3">
      <ul id="icicle-legend" class="list-unstyled"></ul>
    </aside>
  </div>
</div>
