<div class="container">
  <h1>EIS UI Demo <small>Using Icicle Chart for Source Totals</small></h1>
  <div class="row">
    <!-- Icicle Chart Column -->
    <section class="col-sm-10">
      <div id="icicle"></div>

      <table id="total-table" class="table">
        <caption><span class="swatch" style="background: #969696"></span> <span class="text"></span></caption>
        <thead><th>Total Value</th><th>Total Vested</th><th>% Vested</th></thead>
        <tbody>
          <tr></tr>
        </tbody>
      </table>
      <hr/>
      <table id="item-table" class="table table-striped">
        <thead><th>&#160;</th><th class="col-title">Sources</th><th>Value</th><th>Vested</th><th>% Vested</th></thead>
        <tbody></tbody>
      </table>
    </section>

    <!-- Legend Column -->
    <aside class="col-sm-2">
      <ul id="legend" class="list-unstyled"></ul>
    </aside>
  </div>

</div>
