/* Less */
h1 {
  small { display: block; }
}

#icicle {
  width: 100%;

  svg {
    width: 100%;
    height: 100%;
  }
}

rect {
  stroke: #fff;
  stroke-width: 2;

  &.clickable {
    cursor: pointer;
  }

  &.labels {
    fill: #fff;
  }
}

#legend {
  li {
    padding-bottom: 0.25em;
    cursor: pointer;
  }
}

#total-table,
#item-table {
  width: auto;
  margin-top: 1em;

  caption {
    text-align: left;
    cursor: pointer;

    .swatch {
      margin-right: 0.5em;
    }
  }

  td,
  th { padding-right: 2em; }
}

#item-table {
  td:first-child,
  th:first-child { padding-right: 0.5em; }

  tbody tr {
    cursor: pointer;
  }
}

.icicle-text {
  stroke: none;
  fill: #fff;
  text-anchor: middle;
  font-size: 20px;
}

.icicle-labels {
  font-size: 20px
}

.swatch {
  display: inline-block;
  width: 1em;
  height: 1em;
}

.swatch-label { padding-left: 1em; }

.depth-0 { padding-left: 0; }
.depth-1 { padding-left: 1em; }
.depth-2 { padding-left: 2em; }
.depth-3 { padding-left: 3em; }
